*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: serif, sans-serif;
    background: #ebebeb;
}

header,
section,
aside {
    display: block;
}

/*Format for top header*/

header {
    background-color: #fdd504;
    box-shadow: 0 0 15px #ccc;
}

#header_wrapper {
    /*    1200px/1366px*/
    width: 87.84773060029283%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#header_wrapper:after {
    content: ' ';
    display: block;
    clear: both;
}

#logo {
    text-decoration: none;
    color: blue;
    font-size: 1.25em;
    /*20px/16px*/
    display: table;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

#logo img,
#logo span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

#main_nav {
    display: block;
    display: none;
    /*1050px/1200px*100*/
    width: 200px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: beige;
}

#main_nav a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
}

#main_nav span {
    display: none;
}

/*viewport >= 690px*/

@media screen and (min-width: 690px) {
    #main_nav {
        display: table;
        /*    float: right;*/
        /*1050px/1200px*100*/
        width: 100%;
        text-align: center;
        position: static;
        background-color: transparent;
    }

    #main_nav a,
    #main_nav span {
        display: table-cell;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
    }

    #main_nav span {
        display: none;
    }
}

/*viewport >= 1046px*/

@media screen and (min-width: 1046px) {
    #logo {
        text-decoration: none;
        color: blue;
        font-size: 1.25em;
        /*20px/16px*/
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    #logo img,
    #logo span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }

    #main_nav {
        display: table;
        /*1050px/1200px*100*/
        width: 100%;
        text-align: center;
    }

    #main_nav a,
    #main_nav span {
        display: table-cell;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
    }

}

/*viewport >= 1247px*/

@media screen and (min-width:1247px) {
    #logo {
        text-decoration: none;
        color: blue;
        font-size: 1.25em;
        /*20px/16px*/
        float: left;
        display: table;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
    #logo img,
    #logo span {
        display: table-cell;
        vertical-align: middle;
        margin-right: 5px;
    }
    #main_nav {
        display: table;
        float: right;
        /*1050px/1200px*100*/
        width: 87.5%;
        text-align: center;
    }
    #main_nav a,
    #main_nav span {
        display: table-cell;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
    }

}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}


/* Bordered form */
register form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
register button, id01 button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
register button:hover {
    opacity: 0.8;
}


/*For all devices*/

#search_box input[type='text'] {
    width: 300px;
    height: 30px;
    padding: 5px;
    outline: 0;
    border: 0;
    float: left;
}

#button_search {
    float: left;
    padding: 5px 10px;
    height: 30px;
    outline: 0;
    border: 0;
    cursor: pointer;
}

#main_nav a:hover {
    background-color: #ebebeb;
}

#main_nav a i {
    display: block;
}

/*Format body layout*/

#body_wrapper {
    width: 87.84773060029283%;
    margin-left: auto;
    margin-right: auto;
}

#body_wrapper:after {
    content: ' ';
    display: block;
    clear: both;
}

#left_col {
    /*    850px/1200px*/
    width: 100%;
    float: left;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: darkgray;
}